{% extends "home/index.html" %}
{% block content %}
    <div class="h-screen w-full flex items-start justify-center">
        <div class="bg-white p-10 w-6/12 h-screen">
            <br />
            <br />
            <br />
            <h3 class="text-5xl font-bold px-20">
                All in one <span class="text-orange-500">sacco</span> that
                <br />
                will spike your saving
                <br />
                culture
            </h3>
            <br />
            <br />
            <p class="px-20">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="px-20 my-20">
                <button class="btn btn-active btn-neutral text-white bg-orange-500 border-orange-500 px-10">Get Started</button>
                <button class="btn btn-active btn-neutral text-white px-10">Login</button>
            </div>
        </div>
        <div class="bg-white bg-no-repeat bg-w-full p-10 w-6/12 h-screen flex items-center justify-center">
            <img class="w-9/12"
                 src="https://firebasestorage.googleapis.com/v0/b/twinbrook-42051.appspot.com/o/Saving%20money.gif?alt=media&token=fb319dfe-2b05-4551-adde-7b5d0bd5b18a" />
        </div>
    </div>
{% endblock %}
