{% extends "home/dashboard.html" %}
{% block dashboard %}

<div data-theme="cupcake"  class="flex flex-col items-center">
    <div class="w-9/12 mx-auto my-5 flex items-center bg-[#9c6bde] justify-between rounded-2xl">
        <div class="px-3">
            <h1 class="text-white text-3xl">Hi Douglas! 👋👋</h1>
            <p class="text-white text-xl">Welcome Back!</p>
        </div>
        <img class="w-7/12" src="https://firebasestorage.googleapis.com/v0/b/twinbrook-42051.appspot.com/o/main-photo.png?alt=media&token=77303e91-c77c-477c-8ef5-9193771ca8c8" alt="back ground header image">
    </div>

    <div class="w-9/12 h-full mx-auto my-5 flex items-center justify-between rounded-2xl">
        <div class="flex items-center justify-between w-full h-40 ">
            <div class="w-4/12 flex flex-col items-start p-5 bg-white h-full justify-start rounded-2xl">
                <h3 class="text-xl">Week Collection</h3>
                <h1 class="my-auto text-4xl text-orange-500 font-bold">UGX 5,000,000</h1>
            </div>

            <div class="w-7/12 flex h-full items-start bg-white justify-between rounded-2xl">
                <div class="w-6/12 border border-slate-500 border-sm flex flex-col items-start p-5 bg-white h-full justify-start rounded-2xl">
                    <h3 class="text-xl">Expected Collection</h3>
                    <h1 class="my-auto text-3xl text-orange-500 font-bold">UGX 10,000,000</h1>
                </div>
                <div class="w-6/12 flex flex-col items-center ">
                    <h1 class="text-xl">Collection Progress</h1>
                    <div class="radial-progress text-primary" style="--value:70;" role="progressbar">70%</div>
                </div>
            </div>
        </div>
  
    </div>

    <div class="w-9/12 bg-white h-screen mx-auto my-5 flex items-start flex-col justify-start rounded-2xl">
        <div class="flex items-center justify-between w-full my-2">
            <h4 class="text-slate-500 mx-5">3 Members</h4>
            <div class="flex items-center justify-start">
                <label class="input input-bordered flex items-center gap-2">
                    <input type="text" class="grow" placeholder="Search" />
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
                  </label>
                  <button class="btn btn-active bg-black text-white mx-4 ">Export PDF</button>
            </div>
        </div>
        <table class="table table-zebra">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Job</th>
              <th>Earning Date</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr>
              <th>1</th>
              <td>Cy Ganderton</td>
              <td>Quality Control Specialist</td>
              <td>Blue</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <th>2</th>
              <td>Hart Hagerty</td>
              <td>Desktop Support Technician</td>
              <td>Purple</td>
            </tr>
            <!-- row 3 -->
            <tr>
              <th>3</th>
              <td>Brice Swyre</td>
              <td>Tax Accountant</td>
              <td>Red</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
{% endblock %}