{% extends "home/dashboard.html" %}
{% block dashboard %}
    <div class="h-screen ">
        <form method="post"
              class="flex flex-col items-center justify-center px-10 bg-slate-800">
            {% csrf_token %}
            <h1 class="font-bold text-white text-xl my-10">New User Details</h1>
            <div class="flex flex-wrap bg-gray-800">
                <p>
                    <label for="id_firstname">First Name:</label>
                    <input type="text"
                           name="firstname"
                           id="id_firstname"
                           placeholder="Enter First Name"
                           required>
                </p>
                <p>
                    <label for="id_lastname">Last Name:</label>
                    <input type="text"
                           name="lastname"
                           id="id_lastname"
                           placeholder="Enter Last Name"
                           required>
                </p>
                <p>
                    <label for="id_location">Place of residence:</label>
                    <input type="text"
                           name="location"
                           id="id_location"
                           placeholder="Enter Location"
                           required>
                </p>
                <p>
                    <label for="id_phoneNumber">Phone Number:</label>
                    <input type="text"
                           name="phoneNumber"
                           id="id_phoneNumber"
                           placeholder="Enter Phone Number"
                           required>
                </p>
                <p>
                    <label for="id_profilepic">Profile Picture:</label>
                    <input type="file"
                           name="profilepic"
                           id="id_profilepic"
                           accept="image/*"
                           required>
                </p>
                <p>
                    <label for="id_email">Email:</label>
                    <input type="email" name="email" id="id_email" placeholder="Enter Email">
                </p>
                <p>
                    <label for="id_password">Password:</label>
                    <input type="password"
                           name="password"
                           id="id_password"
                           placeholder="Enter Password"
                           required>
                </p>
                <p>
                    <label for="id_Role">Member Type:</label>
                    <select name="id_Role" id="id_Role" required>
                        <option value="" disabled selected>Select Role</option>
                        <option value="admin">Administrator</option>
                        <option value="normal">Normal User</option>
                    </select>
                </p>
                <p>
                    <label for="id_dateofbirth">Date of Birth:</label>
                    <input type="date"
                           min="2010-01-01"
                           name="birthday"
                           id="id_birthday"
                           required>
                </p>
                <p>
                    <label for="id_MaritalStatus">Nationality</label>
                    <select name="accountType" id="id_nationality" required>
                        <option value="" disabled selected>Select Nationality</option>
                        <option value="Savings">Ugandan</option>
                        <option value="Checking">Others</option>
                    </select>
                </p>
                <p>
                    <label for="id_nationalId">National ID:</label>
                    <input type="text"
                           name="nationalId"
                           id="id_nationalId"
                           placeholder="Enter National ID">
                </p>
                <p>
                    <label for="id_placeofwork">Boda stage:</label>
                    <input type="text"
                           name="placeofwork"
                           id="id_placeofwork"
                           placeholder="Boda stage">
                </p>
                <p>
                    <label for="id_natureofwork">stage leader:</label>
                    <input type="text"
                           name="natureofwork"
                           id="id_natureofwork"
                           placeholder="stage leader">
                </p>
                <p>
                    <label for="id_gender">Gender:</label>
                    <select name="accountType" id="id_gender" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </p>
                <p>
                    <label for="id_MaritalStatus">Maritual status:</label>
                    <select name="id_MaritalStatus" id="id_MaritalStatus" required>
                        <option value="" disabled selected>Select Maritual status</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="not_say">Prefer not to say</option>
                    </select>
                </p>
                <p>
                    <label for="id_nextofkin">Next of Kin:</label>
                    <input type="text"
                           name="nextofkin"
                           id="id_nextofkin"
                           placeholder="Enter Next of Kin">
                </p>
                <p>
                    <label for="id_nextofkinphone">Next of Kin Phone:</label>
                    <input type="text"
                           name="nextofkinphone"
                           id="id_nextofkinphone"
                           placeholder="Enter Next of Kin Phone">
                </p>
                <p>
                    <label for="id_nextofkinaddress">Next of Kin Address:</label>
                    <input type="text"
                           name="nextofkinaddress"
                           id="id_nextofkinaddress"
                           placeholder="Enter Next of Kin Address">
                </p>
                <p>
                    <label for="id_accountBalance">Account Balance:</label>
                    <input type="number"
                           name="accountBalance"
                           id="id_accountBalance"
                           placeholder="Enter Account Balance"
                           required>
                </p>
                <p>
                    <label for="id_approvedBy">Approved By:</label>
                    <select name="id_approvedBy" id="id_approvedBy" required>
                        <option value="" disabled selected>Select User</option>
                        {% for member in members %}<option value="{{ member.username }}">{{ member.username }}</option>{% endfor %}
                    </select>
                </p>
            </div>
            <br>
            <br>
            <div class="w-9/12 bg-slate-600 rounded-lg">
                <button type="submit"
                        class="text-white px-5 py-3 w-full font-bold bg-slate-600">Submit</button>
            </div>
            <br>
            <br>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Function to handle form submission
            function handleSubmit(event) {
                event.preventDefault(); // Prevent default form submission
                // You can perform additional validation here if needed
                // Fetch the form data
                const formData = new FormData(document.getElementById('userForm'));
                console.log(formData)
                // Construct the request
                fetch('/your-submit-url/', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    window.location.href = '/success-page/';
                })
                .catch(error => {
                    console.error('There was an error with the form submission:', error);
                    // Handle errors, display an error message, etc.
                });
            }
            // Add event listener to the form submission event
            document.getElementById('userForm').addEventListener('submit', handleSubmit);
        });
    </script>
    <style>
        p {
            display: flex;
            justify-content: space-between;
            width: 50%;
            padding: 10px;
        }
        label {
            display: flex;
            justify-content: space-between;
            width: 50%;
            padding: 10px;
            color: white;
        }
        input, select {
            width: 70%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid black;
        }
        /* button{
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid black;
        } */
    </style>
{% endblock %}
