{% load static tailwind_tags %}
<html lang="en" data-theme="cupcake">
    <head>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://kit.fontawesome.com/02b167d900.js"
                crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css"
              rel="stylesheet"
              type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        {% tailwind_css %}
        <title>Sacco.</title>
    </head>
    <body>
        <div class="w-full flex items-center justify-center p-0">
            <div data-theme="cupcake"
                 class="flex bg-gray-800  flex-col w-6/12 h-screen px-20 justify-center items-center">
                <a href="{% url 'home' %}"
                   class="text-white bg-orange-500 top-0 mr-auto my-5 px-5 py-2 bg-slate-600 rounded-xl">Back</a>
                <form class="flex px-10 py-5 my-auto rounded-lg bg-gray-700 flex-col w-full items-start justify-start"
                      method="POST"
                      action="{% url 'login' %}">
                    {% csrf_token %}
                    <h1 class="text-5xl my-3 text-white">
                        Welcome to <span class="text-orange-500">sacco.co</span>
                    </h1>
                    <label class="input w-full input-bordered flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 16 16"
                             fill="currentColor"
                             class="w-4 h-4 opacity-70">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                        </svg>
                        <input type="text"
                               id="id_username"
                               name="username"
                               class="grow"
                               placeholder="Username" />
                    </label>
                    <br>
                    <label class="input input-bordered w-full flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 16 16"
                             fill="currentColor"
                             class="w-4 h-4 opacity-70">
                            <path fill-rule="evenodd" d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z" clip-rule="evenodd" />
                        </svg>
                        <input placeholder="Password"
                               id="id_password"
                               name="password"
                               type="password"
                               class="grow"
                               value="" />
                    </label>
                    <br>
                    <div class="flex items-center justify-between">
                        <div></div>
                        <div></div>
                        <a href="#" class="text-white ">Forget Your Password?</a>
                    </div>
                    <br>
                    <button type="submit"
                            class="btn btn-active btn-neutral w-full bg-slate-800 border-none hover::border-none hover::bg-slate-800 text-white">
                        Login
                    </button>
                </form>
            </div>
            <div class="flex items-center justify-center w-6/12 h-screen">
                <img class=" h-8/12 w-8/12"
                     src="https://firebasestorage.googleapis.com/v0/b/twinbrook-42051.appspot.com/o/Login-cuate%20(2).svg?alt=media&token=c07c7c48-8688-439d-b852-55902c832a79"
                     alt="login svg with a woman holding a phone logging in">
            </div>
        </div>
    </body>
</html>
