{% extends "home/dashboard.html" %}
{% block dashboard %}
    <div class="bg-slate-800 w-full px-30 w-9/12 h-screen">
        <div class='flex items-center justify-between px-16 bg-slate-800 rounded'>
            <div>
                <h3 class='text-3xl font-bold text-slate-100'>{{ request.user.username }}' Loans Section</h3>
                <h3 class='flex items-center my-1 text-slate-100'>
                    <IoIosCall /> 256780621421
                </h3>
            </div>
            <div>
                <div class='flex items-center bg-slate-800 py-3 rounded-xl px-2 mx-2 mb-auto'>
                    <div class="avatar online">
                        <div class="w-16 rounded-full">
                            <img class="rounded-full"
                                 src="https://avatars.githubusercontent.com/u/89447046?v=4" />
                        </div>
                    </div>
                    <div class='text-white mx-2'>
                        {{ request.user.username }}
                        <br />
                        {{ request.user.username }}
                    </div>
                </div>
            </div>
        </div>
        <div class="p-10 flex w-full items-center bg-slate-800 justify-between">
            <h3 class="text-lg font-bold text-white">{{loancounter}} Loan Applications</h3>
            <label class="input w-7/12 input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="Search" />
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 16 16"
                     fill="currentColor"
                     class="w-4 h-4 opacity-70">
                    <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
                </svg>
            </label>
            <div class="text-white">
                <a href="{% url 'loanapplication' %}" class="btn btn-success bg-white text-white ">New Loan application</a>
            </div>
        </div>
        <form method="POST" action="{% url 'loanfilter' %}"  class="">
            {% csrf_token %}
            <div></div>
            <div></div>
            <div class="flex items-center justify-around">
                <label class="form-control w-full max-w-xs">
                    <select name="loanstatus" class="select select-bordered">
                        <option disabled selected>Loans status</option>
                        <option name="Active">Active</option>
                        <option name="Disburse">Disburse</option>
                        <option name="Pending">Pending</option>
                    </select>
                </label>
                <div class="flex items-center">
                    <div class="flex flex-col items-start mx-2">
                        <label for="startdate" class="text-white font-bold">start date</label>
                        <input name="startdate" type="date" id="startdate">
                    </div>
                    
                    <div class="flex flex-col items-start mx-2">
                        <label for="startdate" class="text-white font-bold">end date</label>
                        <input name="enddate" type="date" id="enddate">
                    </div>
                </div>
                <button type="submit" class="bg-slate-700 h-10 px-5 mx-3 rounded-lg text-white flex items-center justify-center">
                    <i class="fa-solid fa-filter mx-3"></i>
                    Filter
                </button>
            </div>
        </form>

        <br>
        <div class="overflow-x-auto w-full bg-slate-800 px-10">
            <table class="table w-full bg-slate-700">
                <thead class="bg-slate-700">
                    <tr>
                        <th></th>
                        <th>Applicant Name</th>
                        <th>Application Details</th>
                        <th>Expected Fee</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in loans %}
                    <tr class="loan-row">
                        <td>
                            <label>
                                <input type="checkbox" class="checkbox" />
                            </label>
                        </td>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://avatars.githubusercontent.com/u/89447046?v=4" alt="{{ loan.loanOwner.username }}'s Avatar" />
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold">{{ loan.loanOwner.username }}</div>
                                    <div class="text-sm opacity-50">
                                        <i class="fa-solid fa-location-dot"></i> {{ loan.loanOwner.location }} </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p class="font-bold">UGX {{ loan.loanAmount }}</p>
                                <p class="text-xs">Loan ID: {{ loan.loanId }}</p> 
                            </div>
                    
                            <div class="loan-details mt-2">
                                <span class="badge badge-secondary"><i class="fa-solid fa-coins mr-1"></i>{{ loan.loanType }}</span>
                                
                                {% if loan.loanStatus == "Pending" %}
                                    <span class="badge badge-error"><i class="fa-solid fa-signal mr-1"></i> Pending Approval</span>
                                {% elif loan.loanStatus == "Active" %}
                                    <span class="badge badge-success"><i class="fa-solid fa-signal mr-1"></i>Active</span>
                                {% elif loan.loanStatus == "Disburse" %}  
                                    <span class="badge badge-warning"><i class="fa-solid fa-signal mr-1"></i>Awaiting Disbursal</span>
                                {% endif %}
                    
                                <span class="badge badge-info"><i class="fa-solid fa-percent mr-1"></i>{{ loan.loanInterest }}% Interest</span>
                                <span class="badge badge-ghost"><i class="fa-solid fa-clock mr-1"></i>Duration: {{ loan.loanDuration }} months</span>
                            </div>
                        </td>
                        <td>UGX 525,000</td> <td>
                            <div class="flex items-center space-x-2">
                                <a href="{% url 'loandetails' loan.pk %}" class="btn btn-sm btn-info text-white">
                                    <i class="fa-solid fa-eye mr-2"></i>View Loan
                                </a>
                    
                                {% if loan.loanStatus == "Pending" %}
                                    <button class="btn btn-sm btn-success text-white" onclick="approveLoan('{{ loan.id }}')">
                                        <i class="fa-solid fa-check-double mr-2"></i>Approve
                                    </button>
                                    <button class="btn btn-sm btn-error text-white" onclick="rejectLoan('{{ loan.id }}')">
                                        <i class="fa-solid fa-trash-can mr-2"></i>Reject
                                    </button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>

        var simple = new Datepicker('#startdate');
        var simple = new Datepicker('#enddate');
  
    </script>
{% endblock %}
